// CUSTOM VARIABLES

// Modifico colors primary i secondary
$primary: #5265e1;
$secondary: #fa5959;

// Afageixo un nou espai per posicionar les cards
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
) !default;

// Canvi icona error formulari
$form-feedback-icon-invalid: url("/img/icon-error.svg");

//////// fi variables
* {
  margin: 0 auto;
  //max-width: 1200px;
}

// BODY
body {
  padding-top: 150px; /*tinc el navbar fixed i li poso padding al body pq no es superposi*/
  .btn {
    font-size: 0.8rem;
  }
}

// FONS DE LES IL·LUSTRACIONS
.fons-ilust {
  width: 100%;
  height: 250px;
  margin-top: -250px;
  z-index: -1;
}
.fons-ilust-right {
  margin-left: 150px;
  border-top-left-radius: 200px 200px;
  border-bottom-left-radius: 200px 200px;
}
.fons-ilust-left {
  margin-left: -150px;
  border-top-right-radius: 200px 200px;
  border-bottom-right-radius: 200px 200px;
}
// CUSTOM NAV-TABS
#myTab {
  li a {
    padding: 2rem;
    border-bottom: 1px solid #dee2e6;
    &:link {
      color: grey;
    }
    &:visited {
      color: grey;
    }
    &:active {
      border: none;
    }
  }
  .nav-tabs,
  .nav-link {
    border: none;
  }
  a.nav-link {
    border-bottom: 1px solid #dee2e6;
  }
}
#myTab li a.active {
  border: none;
  border-bottom: 3px solid $secondary;
  color: black;
}
.nav-tabs {
  border-bottom: 0px !important;
}

// CARDS
.container_img {
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

// ACORDION
.accordion-flush,
.accordion-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-flush .accordion-item .accordion-button:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-button {
  &:not(.collapsed) {
    background-color: white;
  }
}
#flush-headingOne .accordion-button::after,
#flush-headingTwo .accordion-button::after,
#flush-headingThree .accordion-button::after,
#flush-headingFour .accordion-button::after {
  background-image: url("/img/icon-arrow.svg");
}

//FOOTER
footer {
  padding: 0;
  margin: 0;
}
#brand-footer {
  filter: invert(100%);
}

///////////////
// importem  bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
